.projetos {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
.card {
    display: block;
    background-color: var(--cor_fundo);
    filter: drop-shadow(1px 0px 1px var(--cor_fundo2));
    border-radius: 15px;
    margin: 1em;
    padding: 1em;
    height: 30vh;
    height: 50%;
}

.card_descricao,
.img_oposta{
    display: flex;
    justify-content: space-between;
}

.img_oposta {
    flex-direction: row-reverse;
}

.descricao_titulo {
    color: var(--cor_fundo2);
    font-size: 18px;
    font-weight: 700;
    margin: 1em 0;
}

.descricao_titulo-livro {
    color: var(--cor_fundo2);
    font-weight: 500;
    margin: 0.5em 0 1em 0;
}

.descricao_texto {
    color: var(--cor_fundo2);
    font-size: 14px;
    margin-bottom: 1rem;
}

.descricao_imagem {
    border-radius: 20%;
    align-items:normal;
    padding: 0.5em;
    height: 162px;
}

.card_botoes {
    display: flex;
    justify-content: space-between;
}

.botoes {
    display: flex;
}

.botoes_item {
    margin: 0 0.5em;
}

.botoes_ancora {
    padding: 0.5rem;
    display: block;
    border: 2px solid var(--cor_realce);
    font-weight: 700;
    color: var(--cor_fundo2);
    text-align: center;
    text-decoration: none;

}

.botoes_ancora:hover,
.botoes_ancora:focus{
    background-color: var(--cor_realce);
    color: var(--cor_fundo);
}

.card_oposto {
    background-color: var(--cor_fundo2);
}

.card_oposto .card_botoes{
    flex-direction: row-reverse;
}

.card_oposto .descricao_titulo,
.card_oposto .descricao_titulo-livro,
.card_oposto .descricao_texto,
.card_oposto .botoes_ancora {   
    color: var(--cor_fundo);
}

.wrapper {
    display: none;
}

@media screen and (min-width:1024px) {

    .card {
        display: none;
    }

    .wrapper {
        display: flex;
        box-sizing: border-box;
        width: 100vw;
    }

    .module.parallax{
        height: 75vh;
        width:53.5%;
        overflow: hidden;
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 50%;
    }

    .card_oposto {
        padding: 0
    }

    .card_oposto > .module.parallax {
        background-position: 100% 0;
        width: 54%;
        background-size: 60%;
    }

    .module_text {
        width: 50vw;
        height: 100%;
        margin: 3rem 1.5rem;
    }

    .descricao_titulo {
        font-size: 34px;
    }

    .descricao_titulo-livro{
        font-size: 28px;
    }

    .descricao_texto {
        font-size: 20px;
        margin-bottom: 2rem;
    }

    .parallax_buttons {
        display: flex;
        justify-content: center;
        margin-bottom: 1.5rem;
    }

    .botoes_ancora {
        padding: 1rem;
    }
        
    .img_parallax-1 {
        background-image: url("../imagens/hr_1024.jpg");
        
    }

    .img_parallax-2 {
        background-image: url("../imagens/card_trans_1024.jpg");
    }

    .img_parallax-3 {
        background-image: url("../imagens/sales_1024px.jpg");
    }

    .descricao_texto strong{
        font-weight: 700;
    }

}
 

@media screen and (min-width:1728px){
    
    .card {
        display: none;
    }

    .wrapper {
        display: flex;
        align-items: flex-start;
    }

    .module_text {
        padding: 3rem;
        margin: 2rem 1rem;
        width: 50vw;
    }

    
    .module.parallax{
        height: 75vh;
        width:57.5vw;
        overflow:hidden;
        background-position: 0 40%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 50%;
    }

    .card_oposto {
        padding: 0;
    }

    .card_oposto > .module.parallax {
        background-position: 100% 0;
        width: 58.75vw;
        background-size: 60%;
    }

    .img_parallax-1 {
        background-image: url("../imagens/hr_1024.jpg");
        
    }

    .img_parallax-2 {
        background-image: url("../imagens/card_trans_1024.jpg");
    }

    .img_parallax-3 {
        background-image: url("../imagens/sales_1024px.jpg");
    }


    .descricao_texto {
        font-size: 24px;
        word-spacing: 0.5rem;
        line-height: 2rem;
        margin-bottom: 2.5rem;
    }

    .parallax_buttons {
        display: flex;
        justify-content: center;
        margin-bottom: 1.5rem;
    }

    .botoes_ancora {
        padding: 1rem;
    }

}