hr {
    margin: 0;
}

.rodape {
    background-color: var(--cor_fundo);
    color: var(--cor_fundo2);
    font-weight: 500;
    padding: 1em;
}

.rodape_titulo {
    color: var(--cor_fundo2)
}

.rodape_imagens {
    display: flex;
    gap: 10px;
    margin: 0.5rem 0 0 40%;
}

.rodape_tablet {
    display: none;
}
@media screen and (min-width:1024px) {
    .rodape {
        font-size: 24px;
        color: var(--preto);
        display: flex;
        justify-content: space-between;
        padding: 0.5em 1em;
        align-items: center;
    }

    .rodape_mobile {
        display: none;
    }

    .rodape_tablet {
        display: block;
        height: 30%;
    }

    .rodape_titulo {
        width: 70vw;
    }

    .rodape_imagens {
        margin: 0.5rem 0;
    }

}

@media screen and (min-width:1728px){
    .rodape_mobile {
        display: none;
    }

    .rodape_tablet {
        display: block;
    }

    .rodape_titulo {
        width: 70vw;
    }

    .rodape_imagens {
        margin: 0.5rem 0;  
    }

}